body {
    background-color: rgb(248, 232, 202);  
  }
  .herotext {
    text-align: center;color: green;
    margin-top: 1px;
    font-size: 40px; 
  
  }
   table {
  border-collapse: collapse;
  border: 4px solid #000;
    
  }
  td, th {
   padding: 5px;
   border:solid black
  }
  td {
      text-align: center;
  }
  
  figure {
      border: 1px solid #ccc; /* рамка */
      background-color: #f1f0f0; /* цвет фона */
      padding: 5px; /* отступы от картинки */
      width: 162px; /* ширина картинки */
      }
      figcaption {
      text-align: center; /* подпись по центру*/
      }
  
  .Training {
      text-align: left; color: red;
      padding: 0px;
  }
  
  .Gunnery {
       background-color: rgb(238, 238, 151);
       font-size: 25px;
       font-weight: bold;
       color: rgb(6, 50, 247);
      }
  
  .Piloting {
       background-color: rgb(238, 238, 151);
       font-size: 25px;
       font-weight: bold;
       color: rgb(6, 50, 247);  
      }
  
  .Price {
      font-size: 20px;
      font-weight: bold;
      color: rgb(194, 25, 25);
  }    
  
  .tabletwo {
      border-collapse: collapse; 
      border: 4px solid #000;
      
  
  }
  
  .herotextone {
      text-align: center;color: green;
      margin-top: 10px;
      font-size: 40px; 
  
  }
  
  .Lrm {
      border: 1px solid #ccc; /* рамка */
      background-color: #f1f0f0; /* цвет фона */
      padding: 5px; /* отступы от картинки */
      width: 231px; 
      
  }
  
  .headerthree {
       position: absolute;
       right: 28px;
       top: 7px;
       
      }
  
  .headerfour {
        margin-left: 0px;
        margin-top: 40px;
  
      }
  
  .Bank {
      border: 1px solid #ccc; /* рамка */
      background-color: #f1f0f0; /* цвет фона */
      padding: 11px; /* отступы от картинки */
      width: 570px; 
  
  }
   
  .tablethree {
   width: 580px;
   height: 400px;
   position: absolute;
   right: 20px;
   top: 4475px;
   border-collapse: separate;
   border-spacing: 5px;
   background: rgb(241, 226, 139);
   color: rgb(116, 26, 4);
   border: 16px solid rgb(17, 167, 12);
   border-radius: 20px; 
   font-size: 17px;
   
  }
  
  .credit {
    font-size: 30px;
    color: darkred;
  }
    
  .tablefour {
   width: 580px;
   height: 400px;
   position: absolute;
   right: 20px;
   top: 4905px;
   border-collapse: separate;
   border-spacing: 5px;
   background: rgb(241, 226, 139);
   color: rgb(116, 26, 4);
   border: 16px solid rgb(17, 167, 12);
   border-radius: 20px; 
   font-size: 17px;
   }
    
  .mission {
   font-size: 20px;
   color: rgb(251, 255, 5);
   position: absolute;
   top: 130px;
   right: 25px;
  
  }
    
  .pagetwo { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 5px;
    color: rgb(17, 167, 12);
    position: absolute;
    top: 52px;
    left: 80px;
  }
    
  .hero {
    text-align: center;
    color: darkgreen;
  }
    
  .content {
    font-size: 18px;
    font-weight: 12px;
    text-align: left;
    padding-right: 20px;
  } 
    
    span {
    color: darkgreen;
    font-size: 30px;  
    font-weight: bold;
    position: absolute;
    right: 570px;
  }
    
  .conteiner {
    box-sizing: border-box;
    width: 100%;
    border: solid #358a3a 10px;
    padding-right: 25px;
    
  }
    
   .headerfive {
      border: 1px solid #ccc; /* рамка */
      background-color: #f1f0f0; /* цвет фона */
      padding: 11px; /* отступы от картинки */
      width: 570px; 
  
   }
    
   .headerfives {
     padding: 0px;
   
   }